
body{
    /*background: transparent;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;*/
      background: radial-gradient(at 20% 70%, #83cde7, transparent), radial-gradient(at 50% 30%, #f480d5, transparent), radial-gradient(at 80% 80%, #b7f179, transparent);
  background-attachment: fixed;
  border: 0;
  color: white;
  overflow: auto 
}
.heading{
  display: flex;
}

button{
  display: flex;
  color: white;
　cursor: pointer;
　background: #eee;
　border-radius: 3px;
}

.Greeting{
  text-align: center;
}

.About_Us{
  text-align: left;
}

.What_We_Do{
  text-align: right;
}
