body{

      background: radial-gradient(at 20% 70%, #83cde7, transparent), radial-gradient(at 50% 30%, #f480d5, transparent), radial-gradient(at 80% 80%, #b7f179, transparent);
 
  background-size: cover;
  font-family: sans-serif;
}
.heading{
  display: flex;
}

button{
  color: #333;
  border: none;
  border-radius: 12px;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
}
.Buttons{
  display: flex;
}
.Greeting{
  text-align: center;
}

.About_Us{
  text-align: left;
}

.What_We_Do{
  text-align: right;
}



footer{
    background-color: navy;
    background-size: cover;
    padding-right: 24px;
    padding-left: 24px;
    color: white;
}
  .menu-icon {
  width: 60px;
  height: 44px;
  padding: 10px;
  display: none;
}

.menu-icon span {
  display: block;
  height: 8px;
  background-color: #333;
  border-radius: 4px;
  color: white;
  display:none;
}


.menutab{
  display: none;
  position: fixed;         /*ページ全体に固定 */
  top: 0;
  left: 0;
  width: 500vw;        
  height: 500vh;          
  background: white;
  z-index: 1000;           /* 他の要素より前に出す */
  overflow-y: auto;        /* 内容が多いときスクロールできるように */
}

.menutab a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 20px;
  margin: 5vw;
  cursor: pointer;
  font-size: clamp(16px, 5vw, 28px); 
}

.yokonarabiheader {
  display: flex;
  justify-content: space-between;  
  align-items: top; 
  width: 100%;
}
header img{
  cursor: pointer;
  display: flex;
  justify-content: center;
  max-width: 70vw;
  height: auto;
}

@media screen and (max-width: 768px) {
  .Buttons {
    display: none;
  }

.menu-icon {
  display: block;
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px;

}

.menu-icon span {
  display: block;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
  color: white;
                }
}
#menutab {
  position: fixed;
  top: 0;
  right: -300px; /* 初期状態は画面外 */
  width: 300px;
  height: 100%;
  background-color: white;
  transition: right 0.7s ease;
  z-index: 1000;
}

/* 表示状態 */
#menutab.active {
  right: 0;
}
