body{
  background: radial-gradient(at 20% 70%, #83cde7, transparent),
              radial-gradient(at 50% 30%, #f480d5, transparent),
              radial-gradient(at 80% 80%, #b7f179, transparent);
  background-size: cover;
  font-family: sans-serif;

}

.heading{
  display: flex;
}

button{
  color: #333;
  border: none;
  border-radius: 12px;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
}

.Buttons{
  display: flex;
}

.Greeting{
  text-align: center;
}

.About_Us{
  text-align: left;
}

.What_We_Do{
  text-align: right;
}

a{
  color: blie;
}

footer{
  background-color: navy;
  background-size: cover;
  padding-right: 24px;
  padding-left: 24px;
  color: white;
}

.menu-icon {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
  color: white;
}

.menutab{
  display: none;
  background: white;
}

.menutab a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
   padding: 10px;
}
